<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
      {{if .Title}}<h1>{{ .Title }}</h1>{{end}}
      {{if in .Params.tags "book"}}<h6>by .Params.author</h6>{{end}}
      {{if in .Params.tags "paper"}}<h6>Reference: .Params.reference</h6>{{end}}
      <p class="meta">
        {{ i18n "last_updated" }} {{ partial "date-fmt.html" .}} 
          {{ partial "github.html" . }}
      </p>
      <ul class="tags">
          {{ range (.GetTerms "tags") }}
          <li><a href="{{ .Permalink }}">
          {{if (eq $.Site.Language.Lang "en")}}
            {{ .LinkTitle | humanize }}
          {{else}}
            {{ .LinkTitle }}
          {{end}}
            </a>
           </li>
          {{ end }}
      </ul>
      {{partial "toc.html" .}}
      {{partial "textprocessing.html" . }}
    </article>
    {{partial "footer.html" .}}
</div>
</body>
</html>
