// put your custom CSS here!
// Personal customisation
h1 {
  color: #ff5555 !important;

  & > .hanchor {
    color: #ff5555;
  }
}

h2 {
  color: #ffb86c!important;

  & > .hanchor {
    color: #ffb86c;
  }
}

h3 {
  color: #f1fa8c!important;

  & > .hanchor {
    color: #f1fa8c;
  }
}

h4 {
  color: #50fa7b!important;

  & > .hanchor {
    color: #50fa7b;
  }
}

h5 {
  color: #4fb7ff!important;

  & > .hanchor {
    color: #4fb7ff;
  }
}

h6 {
  color: #bd93f9!important;

  & > .hanchor {
    color: #bd93f9;
  }
}

iframe[src*=".pdf"] {
	width: 100%;
	height: 65vw;
}
